body {
    background-color: white;
    font-family: sans-serif;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
    color: black;
    text-align: center;
    padding: 5px 0;
}

.container {
    margin: auto;
}

@media (max-width: 576px) {
    .form__inputs {
        flex-direction: column;
    }

    .form__input-label {
        width: 100%;
    }

    .form__input-input {
        width: 100%;
    }

    .form__input-div {
        flex-direction: column;
    }
    .x-labels{
        display: none;
    }
    .chart{
        padding-bottom: 60px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

    /* For desktop: */
    .container {
        max-width: 1140px;
    }
}

.filter__fieldset {
    box-shadow: rgb(0, 0, 0) 6px 6px 24px -8px;
    display: flex;
    border-radius: 10px;
    border: black solid 2px;
    padding: 15px;
    font-weight: bold;
}

.form__input-div {
    display: flex;
    flex: 1;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.form__inputs {
    justify-content: space-between;
    display: flex;
}

.form__input-label {
    padding-right: 15px;
    ;
}

.form__input-input {
    flex: 1;
}

.form__select {
    width: 100%;
}

.form__select--outlined,
.from__input--outlined {
    width: 100%;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 5px;
}

.dashboard__title {
    text-align: center;
    padding: 50px;
}

.line-chart {
    .x-labels .label text {
        transform-origin: 0 9%;
        transform: rotate(45deg);
    }
}

.chart {
    height: 65vh;
    margin: auto;
}

.tooltip {
    &:not(.is-active) {
        display: none;
    }

    padding: 10px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    pointer-events: none;

    &--data {
        display: flex;
    }

    &--item {
        display: flex;
        align-items: center;

        &:not(:first-child) {
            margin-left: 20px;
        }

        &:before {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }
    }
}